* {
    margin: 0;
    padding: 0;
    }

header{
    position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #111111;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


header ul{
    list-style: none;
    display: flex;
}

header a {
    text-decoration: none;
    color: #fff;
    margin: 5px;
}

#logo{
    height: 70px;}
/*main*********************************************************************/
section{
    min-height: 800px;
    font-family: 'Oxygen';
    padding-top: 100px;
    
}
/*intro*************************************************************/
#intro{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #181818;
    padding: 20px;
}

#intro-text{
    text-align: center;
}

#intro-text h1{
    font-size: 35px;
    color: #E11A21;
}

#intro-text h4{
    color: #eeeeee;
    margin: 20px 0px;
}

#intro button{
    margin: 10px;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 30px;
    border-color: #E11A21;
    color: #eeeeee;
}

#intro-download-btn{
    background-color: #E11A21;
}

#intro-img img{
    height: 500px;
}

#passaggi{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
}

#passaggi div{
    margin: 10px 20px;
    width: 30%;
    border: 1px solid #fff;
}

#passaggi h1, h4{
    color: #E11A21;
}

#passaggi div:hover{
    border: 1px solid #E11A21;
}

/*****************************/
h3{
    color: #1d3557;
    padding: 20px;
}

.mappa{
    background-color: #457B9D;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;   
}
h2{
    margin-bottom: 100px;
    font-family: 'Fredoka One';
    color: #e63946;
}

#submit{
    background-color: #e63946;
    border: none;

    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
}

input[type=text]{
    color:#1d3557;
    margin-bottom: 20px;
}

.tabella{
    background-color: #f1faee;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:#1d3557;
}
.tabella label{
    color:#1d3557;
}


/*footer********************************************************************/
